body {
    text-align: center;
    width: 90%;
    margin-left: 5%;
    font-family: Open Sans;
}


h1 {
    font-size: 450%;
    text-shadow: 2px 2px #545454;

}
           
input:focus {
    outline:none;
}

@media only screen and (min-width: 1000px) {
    body {
        margin-top: 20%;
    }
}