body {
    text-align: center;
    width: 80%;
    margin-left: 10%;
    font-family: Open Sans;
}


h1 {
 
    font-size: 450%;

    text-shadow:
    -1px -1px 0 #BFBFBF,
    1px -1px 0 #BFBFBF,
    -1px 1px 0 #BFBFBF,
    1px 1px 0 #BFBFBF;

    text-shadow: 2px 2px #7A7A7A;
}
           
input:focus {
    outline:none;
}

@media only screen and (min-width: 1000px) {
    body {
        margin-top: 20%;
    }
}